# OSX
#
.DS_Store

# Xcode
#
app/ios/build/
app/ios/*.pbxuser
app/ios/!default.pbxuser
app/ios/*.mode1v3
app/ios/!default.mode1v3
app/ios/*.mode2v3
app/ios/!default.mode2v3
app/ios/*.perspectivev3
app/ios/!default.perspectivev3
app/ios/xcuserdata
app/ios/*.xccheckout
app/ios/*.moved-aside
app/ios/DerivedData
app/ios/*.hmap
app/ios/*.ipa
app/ios/*.xcuserstate
app/ios/project.xcworkspace

# Android/IJ
#
app/android/*.iml
app/android/.idea
app/android/.gradle
app/android/local.properties

# node.js
#
app/node_modules/
app/npm-debug.log
server/node_modules/
server/npm-debug.log
**/node_modules/*
**npm-debug.log

# BUCK
app/buck-out/
app/\.buckd/
app/android/app/libs
app/android/keystores/debug.keystore

# Firebase
app/config/credentials.json
server/config/credentials.json
